<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./userstyle.css">
  </head>
  <body>
    <div class='wrapper'>

    <div class='users'>
      {{#users}}
    <a href="{{username}}"><img src="{{avatar}}"/></a>
      <h3>{{name}}</h3>
      <p>{{job}} {{company}}</p>

      {{/users}}

    </div>

    </div>
  </body>
</html>
